
/* 
heading style
*/
#heading{
    color: cyan;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    border:3px solid red;
    border-radius: 30px 30px 0 0;
    /* border-top-left-radius: 20px; */
}

/* 
Text styles
*/

.intro{
    font-size: 18px;
    color: blue;
    text-shadow: 1px 1px 0px rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: lightgray;
    box-shadow: 10px 3px 5px rgba(0, 0, 0, 0.21);
}

/* Footer */
.my-footer{
    text-align: center;
    background: rgb(32, 192, 255);
    padding:10px;
    color: yellow;
}